---
import LayoutPages from "@/layouts/LayoutPages.astro";
---

<LayoutPages title="Autoridades">
    <section>
        <div class="mb-10">
            <h2 class="font-bold text-xl my-2">
                Autoridades
            </h2>
            <div>
                <p>Presidente: Ezequiel Vottero</p>
                <p>Vicepresidente: Santiago Segura</p>
                <p>Secretaria: Carolina Bergia</p>
                <p>Pro Secretaria: Honorina Lubrina</p>
                <p>Tesorero: Luciano Matellica</p>
                <p>Pro Tesorera: Alba Aquino</p>
                <p>1er Vocal titular: Nicolas Giordano</p>
                <p>2do Vocal titular: Pablo Ramos</p>
                <p>3er Vocal titular: Silvia Fernandez</p>
                <p>4to Vocal titular: Vanina Galante</p>
                <p>1er Vocal suplente: Diego Dominguez</p>
                <p>2do Vocal suplente: Franco Bordese</p>
                <p>3er Vocal suplente: Mauricio Baigorria</p>
                <p>4to Vocal suplente: Mariela Carinci</p>
                <p>1er Revisor de cuenta: Maximiliano Gonzalez</p>
                <p>2do Revisor de cuenta: Sonia Monti</p>
                <p>3er Revisor de cuenta: Mario Rodriguez</p>
                <p>1er Revisor suplente: Carina Paez</p>
            </div>
        </div>
    </section>
</LayoutPages>