---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
import Footer from '@/sections/Footer.astro';
import Social from '@/sections/Social.astro';
import Sponsors from '@/sections/Sponsors.astro';
import Follows from '@/sections/Follows.astro';
import News from '@/sections/News.astro';
import Header from '@/sections/Header.astro';
import Main from '@/sections/Main.astro';
import SectionContainer from '@/components/SectionContainer.astro';
---

<Layout title="Club Deportivo Huracán">
	<Hero />
	<Header />
	<main id="home" class="max-w-7xl mx-auto py-20">

		<SectionContainer id="news">
			<Main />
		</SectionContainer>
		
	</main>
		<Follows />
		<Sponsors />
	<Social />
	<Footer />
</Layout>