---
import LayoutPages from "@/layouts/LayoutPages.astro";
---

<LayoutPages title="Datos">
    <section>
        <div class="mb-10">
            <h2 class="font-bold text-xl my-2">
                Datos Generales
            </h2>
            <div>
                <p>Nombre: Huracán</p>
                <p>Nombre completo: Club Deportivo Huracán y Biblioteca Popular Tancacha</p>
                <p>Apodo (s): "el globito" "el globo" "viento blanco"</p>
                <p>Fundación: 20 de Junio de 1920</p>
                <p>Presidente: Gerardo Ferragutti</p>
                <p>Entrenador: Nolberto Mena</p>
            </div>
        </div>

        <div class="mb-10">
            <h2 class="font-bold text-xl my-2">
                Instalaciones
            </h2>
            <div>
                <p>Estadio: Pedro Bartolo Ferrari</p>
                <p>Ubicación: San Martín 1500</p>
                <p>Capacidad: 1000 personas</p>
                <p>Inauguración:1948</p>
                <p>Otro complejo: Campo de deportes Felipe Girao</p>
            </div>
        </div>
    </section>
</LayoutPages>