---
import LayoutPages from "@/layouts/LayoutPages.astro";
---

<LayoutPages title="Datos">
    <section class="mb-10 font-dosis">
        <div>
            <h2 class="font-bold text-5xl my-2 uppercase">
                Datos Generales
            </h2>
            <div class="text-lg">
                <p><span class="font-semibold">Nombre completo:</span> Club Deportivo Huracán y Biblioteca Popular Tancacha</p>
                <p><span class="font-semibold">Apodo (s):</span> Globo, Globito, Viento Blanco</p>
                <p><span class="font-semibold">Fundación:</span> 20 de Junio de 1920</p>
                <p><span class="font-semibold">Presidente:</span> Ezequiel Vottero</p>
                <p><span class="font-semibold">Entrenador:</span> Edgardo "Chueco" Malvestiti</p>
            </div>
        </div>

        <div class="mt-10">
            <h2 class="font-bold text-5xl my-2 uppercase">
                Instalaciones
            </h2>
            <div class="text-lg">
                <p><span class="font-semibold">Estadio:</span> Pedro Bartolo Ferrari</p>
                <p><span class="font-semibold">Ubicación:</span> San Martín 1500</p>
                <p><span class="font-semibold">Capacidad:</span> 1000 personas</p>
                <p><span class="font-semibold">Inauguración:</span> 1948</p>
                <p><span class="font-semibold">Otro complejo:</span> Campo de deportes Felipe Girao</p>
            </div>
        </div>
    </section>
</LayoutPages>