---
import LayoutPages from "@/layouts/LayoutPages.astro";
---

<LayoutPages title="Posiciones">
    <section>
        <div class="mb-10">
            <h2 class="font-bold text-xl my-2">
                Tabla de posiciones
            </h2>
            <div>
                <table class="w-full border-2 border-black text-center">
                    <thead class="bg-secondary">
                        <tr>
                            <th class="">Pos.</th>
                            <th class="">Equipo</th>
                            <th class="">Pts</th>
                            <th class="">PJ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Huracan</td>
                            <td>21</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>9 de Julio</td>
                            <td>20</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Agrario de Corralito</td>
                            <td>15</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Fitz Simon</td>
                            <td>12</td>
                            <td>6</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</LayoutPages>