---
import LayoutPages from "@/layouts/LayoutPages.astro";
---

<LayoutPages title="Sedes y Predios">
    <section>
        <div>
            <h2 class="font-bold text-xl my-2">
                Sede
            </h2>
            <div class="text-justify">
                <img class="float-left mr-3" src="/public/img/club/properties.jpg" alt="Foto de la sede del Club Huracán de Tancacha">
                <p class="mb-4 float-none"> Situada en Roque Sáenz Peña 882, sobre unos terrenos adquiridos en el año 1942. El 10 de Mayo de 1960 se comenzó con la construcción de un edificio de tres pisos, un salón de usos múltiples y una cancha de bochas. En ella se practican distintas actividades, destacándose Tenis y Patín. También se encuentran allí las canchas de Casín, un quincho para eventos, un bar comedor, la galería de trofeos, una cancha de fútbol cinco, actualmente en desuso y la pileta de natación. </p>
            </div>
        </div>

        <div class="float-none ">
            <h2 class="font-bold text-xl my-2">
                Campo de deportes
            </h2>
            <div class="text-justify">
                <p class="mb-4"> Si bien Huracán no posee un campo de deportes propio, realiza actividades en el predio Felipe Guirao, que le pertenece a la Fundación Tancacha. En él se realizan múltiples actividades deportivas y de esparcimiento, además de ser el lugar donde practican los diversos planteles del club, incluida la primera división. </p>
            </div>
        </div>

        <div>
            <h2 class="font-bold text-xl my-2">
                Otras instalaciones
            </h2>
            <div class="text-justify">
                <p class="mb-4"> Además de las instalaciones ya mencionadas, Huracán posee una cancha de tenis, cancha de bochas, instalaciones para casin, bar comedor, salón de fiestas, salón de uso múltiple, pileta de natación, biblioteca y una cancha de fútbol cinco actualmente en desuso. Todas estas cosas se encuentran en la sede social que tiene el club. </p>
            </div>
        </div>
    </section>
</LayoutPages>