---
import LayoutPages from "@/layouts/LayoutPages.astro";
---

<LayoutPages title="Estadio">
    <section class="mb-10 font-dosis">
        <h2 class="font-bold text-5xl my-2 uppercase">
            Estadio
        </h2>
        <div class="text-lg text-justify">
            <img class="float-left mr-3" src="/public/img/club/stadium.jpg" alt="Foto del estadio del Club Huracán de Tancacha">
            <p class="mb-4"> Desde su fundación, Huracán tuvo su cancha en dos lugares distintos. La primera estaba ubicada entre las calles Presidente Perón y Corrientes, donde actualmente se encuentra la escuela General José de San Martín. Allí solamente jugó torneos independientes, no llegó a disputar ningún partido de la Liga Riotercerence. Luego este terreno fue donado a la escuela San Martín, ex Nacional N°217 y obtuvo en forma de donación de parte de los señores Miguel Dana, Luis Favot y Josefa C. De Favot en 1948 un terreno en la calle Avenida San Martín al 1500. </p>
            <p class="mb-4"> En 1968 el presidente de esa época, Amílcar Ramondelli, junto a otros colaboradores comenzaron a construir lo que hoy en día son las tribunas Juan Flores, Amílcar Ramondelli y Dr. Alberto Jorge con capacidad para mil personas sentadas.</p>
            <p class="mb-4"> Aquí han jugado equipos de la talla de Boca (Inauguración de las tribunas) y Belgrano de Córdoba (2006).</p>
        </div>
    </section>
</LayoutPages>