---
interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---
<article class="mb-16">
    <slot name="before"/>
    <section>
        <h2 class="font-semibold text-3xl uppercase">
            {title}
        </h2>
        <p class="text-base text-justify">
            {body}
        </p>
    </section>
    <slot name="after"/>
</article>