---
import FacebookIcon from "@/icons/facebook.astro"
import XIcon from "@/icons/x.astro"
import InstagramIcon from "@/icons/instagram.astro"
import CarnetIcon from "@/icons/carnet.astro"
---
<section class="bg-gray-300 mb-16 py-9 border-2">
    <div class="max-w-7xl mx-auto max-lg:mx-4">
        <h2 class="font-extrabold text-3xl text-white mb-3">
            <span class="text-secondary/80">#</span>VAMOSGLOBO
        </h2>
        
        <div class="border-secondary/80 py-8 flex lg:flex-row justify-between border-y-4 md:flex-grow max-sm:grid max-sm:grid-cols-2 max-sm:gap-7 max-sm:px-auto">
            <div class="flex flex-row">
                <FacebookIcon 
                    class="text-secondary h-10 w-auto mr-4"
                />
                <h2 class="font-semibold text-4xl leading-5">1.9K <br> <span class="font-light text-base">fans</span></h2>
            </div>
            <div class="flex flex-row">
                <XIcon 
                    class="text-secondary h-12 w-auto mr-4"
                />
                <h2 class="font-semibold text-4xl leading-5">900 <br> <span class="font-light text-base">hinchas</span></h2>
            </div>
            <div class="flex flex-row">
                <InstagramIcon 
                    class="text-secondary h-12 w-auto mr-4"
                />
                <h2 class="font-semibold text-4xl leading-5">1.9K <br> <span class="font-light text-base">seguidores</span></h2>
            </div>
            <div class="flex flex-row">
                <CarnetIcon
                    class="text-secondary h-12 w-auto mr-4"
                />
                <h2 class="font-semibold text-4xl leading-5">3K <br> <span class="font-light text-base">socios</span></h2>
            </div>
        </div>
    </div>
</section>