---
import Velada from '@/icons/velada.astro';
import InstagramIcon from '@/icons/instagram.astro'
import HuracanIcon from '@/icons/huracan.astro'
import StarIcon from '@/icons/star.astro'
---

<section class="hero flex w-full h-screen relative overflow-hidden justify-center items-center gap-40 max-sm:h-screen max-sm:w-full">
                
    <img 
        class="w-[300px] h-auto animate-zoom-in animate-delay-300" 
        src="/src/icons/huracan.svg" 
        alt="Escudo del Club Deportivo Huracan de Tancacha">

    <div class="animate-fade-in-up animate-delay-400">
        <h2 class="text-primary uppercase leading-[1.10] [text-shadow:_0px_px_0_rgb(255_255_255_/_80%)] lg:text-7xl md:text-[34px]">
            Club Deportivo <br/> <span class="text-secondary/80 font-extrabold [text-shadow:_2px_2px_0_rgb(255_255_255_/_80%)] lg:text-[7.8rem] md:text-6xl"> Huracán </span>
        </h2>

        <div class="flex justify-between mt-3">
            <StarIcon 
                class="text-primary h-16 w-auto"
            />
            <StarIcon 
                class="text-primary h-16 w-auto"
            />
            <StarIcon 
                class="text-primary h-16 w-auto"
            />
            <StarIcon 
                class="text-primary h-16 w-auto"
            />
            <StarIcon 
                class="text-primary h-16 w-auto"
            />
            <StarIcon 
                class="text-primary h-16 w-auto"
            />
            <StarIcon 
                class="text-primary h-16 w-auto"
            />
            <StarIcon 
                class="text-primary h-16 w-auto"
            />
            <StarIcon 
                class="text-primary h-16 w-auto"
            />
            
        </div>
        
    </div>

</section>

<style>
    .hero{
        background-color: black;
    }
</style>