---
import Header from "./Header.astro"
---
<section>
    <section id="page" class="grid justify-center gap-3">
            <article id="new-primary"  class="            
                col-span-10 lg:col-span-6
                relative rounded-xl
                backdrop-blur-md
                border border-black/10
                shadow-inner shadow-white/10
                group">
                <div
                    class="absolute bottom-0 top-0 z-10 h-full w-full rounded-xl
                        bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"
                >
                </div>
        
                <div
                    class="background transition-scale absolute bottom-0 left-0 top-0
                            -z-10 h-full w-full rounded-xl
                            bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110" style="background-image: url(img/news/comunicado-oficial.webp);">
                
                </div>
                <div class="relative z-20 flex h-full select-none flex-col justify-end gap-1 p-4 text-lg md:p-6">
                    <h2 class="mb-4 text-balance text-3xl font-semibold uppercase text-white">
                        
                    </h2>
                    <h3 class="-mt-4 mb-4 text-1xl font-semibold text-sky-200/80">
                        
                    </h3>
                </div>
            </article>
    
            <article id="new-secondary" class="
                col-span-10 lg:col-span-6
                relative rounded-xl
                backdrop-blur-md
                border border-black/10
                shadow-inner shadow-white/10
                group">
                <div
                    class="absolute bottom-0 top-0 z-10 h-full w-full rounded-xl
                        bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"
                >
                </div>
        
                <div
                    class="background transition-scale absolute bottom-0 left-0 top-0
                            -z-10 h-full w-full rounded-xl
                            bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110" style="background-image: url(img/news/noticia-dos.jpg); background-size: cover; background-position: 10% 30%;"
                ></div>
                <div class="relative z-20 flex h-full select-none flex-col justify-end gap-1 p-4 text-lg md:p-6">
                    <h2 class="mb-4 text-balance text-3xl font-semibold uppercase text-white">
                        Bienvenido
                    </h2>
                    <h3 class="-mt-4 mb-4 text-1xl font-semibold text-sky-200/80">
                        Nuevo DT
                    </h3>
                </div>
            </article>
    
            <article id="new-other" class="
                col-span-10 lg:col-span-6
                relative rounded-xl
                backdrop-blur-md
                border border-black/10
                shadow-inner shadow-white/10
                group">
                
                <div
                    class="absolute bottom-0 top-0 z-10 h-full w-full rounded-xl
                        bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"
                >
                </div>
        
                <div
                    class="background transition-scale absolute bottom-0 left-0 top-0
                            -z-10 h-full w-full rounded-xl
                            bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110" style="background-image: url(img/news/noticia-tres.jpg); background-size: cover; background-position: 10% 30%;"
                ></div>
                <div class="relative z-20 flex h-full select-none flex-col justify-end gap-1 p-4 text-lg md:p-6">
                    <h2 class="mb-4 text-balance text-3xl font-semibold uppercase text-white">
                        Histórico
                    </h2>
                    <h3 class="-mt-4 mb-4 text-1xl font-semibold text-sky-200/80">
                        Maxi Sanchez se convirtió en goleador
                    </h3>
                </div>
            </article>

    </section>

    <article class="
                mt-4
                col-span-10 lg:col-span-6
                relative rounded-xl
                backdrop-blur-md
                border border-black/10
                shadow-inner shadow-white/10
                group">
                
                <div
                    class="absolute bottom-0 top-0 z-10 h-full w-full rounded-xl
                        bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"
                >
                </div>
        
                <div
                    class="background transition-scale absolute bottom-0 left-0 top-0
                            -z-10 h-full w-full rounded-xl
                            bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110" style="background-image: url(img/news/noticia-tres.jpg); background-size: cover; background-position: 10% 30%;"
                ></div>
                <div class="relative z-20 flex h-full select-none flex-col justify-end gap-1 p-4 text-lg md:p-6">
                    <h2 class="mb-4 text-balance text-3xl font-semibold uppercase text-white">
                        Histórico
                    </h2>
                    <h3 class="-mt-4 mb-4 text-1xl font-semibold text-sky-200/80">
                        Maxi Sanchez se convirtió en goleador
                    </h3>
                </div>
    </article>

    <article class="            
                mt-4
                col-span-10 lg:col-span-6
                relative rounded-xl
                backdrop-blur-md
                border border-black/10
                shadow-inner shadow-white/10
                group">
        <div
            class="absolute bottom-0 top-0 z-10 h-full w-full rounded-xl
                bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"
        >
        </div>

        <div
            class="background transition-scale absolute bottom-0 left-0 top-0
                    -z-10 h-full w-full rounded-xl
                    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110" style="background-image: url(img/news/noticia-uno.jpg);">
        
        </div>
        <div class="relative z-20 flex h-full select-none flex-col justify-end gap-1 p-4 text-lg md:p-6">
            <h2 class="mb-4 text-balance text-3xl font-semibold uppercase text-white">
                Victoria de local
            </h2>
            <h3 class="-mt-4 mb-4 text-1xl font-semibold text-sky-200/80">
                Fútbol Senior
            </h3>
        </div>
    </article>

    <a href="#" class="hover:scale-105 hover:opacity-75 transition inline-block">
        <h1 class="mt-3">
            Ver más noticias 
        </h1>
    </a>
</section>

<style>
    #page{
        grid-template-areas:"new-primary new-secondary"
                            "new-primary new-other";
        grid-template-columns: 2fr 1fr;
    }

    #new-primary{
        grid-area: new-primary;
    }

    #new-secondary{
        grid-area: new-secondary;
    }

    #new-other{
        grid-area: new-other;
    }
</style>