---
import InstagramIcon from "@/icons/instagram.astro";
import XIcon from '@/icons/x.astro';
import FacebookIcon from '@/icons/facebook.astro';
---

<section class="bg-secondary/80 flex flex-col py-16 relative">

    <img 
        id="logo"
        class="w-20 h-auto mx-auto absolute top-[-70px] left-0 right-0 drop-shadow-[0_3px_8px_rgba(0,0,0)] animate-pulsing" 
        src="/src/icons/huracan.svg" 
        alt="Escudo del Club Deportivo Huracan de Tancacha">

    <h2 class="text-center mt-7 font-extrabold text-white text-4xl [text-shadow:_2px_2px_0_rgb(0_0_0_/_80%)] mb-7">
        CLUB DEPORTIVO HURACÁN
    </h2>

    <lu class="flex justify-center">
        <a
                target="_blank"
                rel="noopener"
                href="#"
                class="hover:scale-125 hover:opacity-75 transition inline-block"
            >
            <InstagramIcon class="text-white h-10 w-auto" />
        </a>

        <a
                target="_blank"
                rel="noopener"
                href="#"
                class="hover:scale-125 hover:opacity-75 transition inline-block"
            >
            <XIcon class="text-white h-10 w-auto mx-9" />
        </a>

        <a
                target="_blank"
                rel="noopener"
                href="#"
                class="hover:scale-125 hover:opacity-75 transition inline-block"
            >
            <FacebookIcon class="text-white h-8 w-auto mt-1"/>
        </a>
    </lu>
</section>

<style>
    #logo{
        animation-iteration-count: infinite;
    }
</style>